@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
input   { 
    width:600px;
    height: 50px;
    border: 1px solid black;
    border-radius:50px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    }
   
nav     {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align:center; 
    }
    
.figure  {
    position: absolute;
    width: 1920px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    }

.container {
    background-image: url('img/PHOTO_1.jpg');
    width:1920;
    height:696;
    padding: 300px;
    }
    

h1 > div   {
    margin: auto;
    padding: 0px;
   
    }

section {
    grid-auto-flow: row;
    grid-auto-flow: column;
    display: screen;
    }

main   {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    }
        


footer     {
    position: relative;
    left: 0;
    bottom: 0;
    width: 1920px;
    height: 500px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30pt;
    }

 body   { 
    display: screen;
    font-family: 'Roboto', sans-serif;
    }

a:visited   { 
    color: red;
    text-decoration-color: white;
    }

a:hover {
    background-color: black;
    }

.drilldown-close {
    color: black;
}

a:link{
    color: black;
    }
.text{
    text-align: left
}




   