header > div    { 
    margin: 0 auto;
    width: 600px;
    height: 50px;
    border: 0.5px solid black;
    border-radius:50px;
    text-align: center;
}

header > div > a    {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: justify-all;
    font-size: 15pt;
}

header > nav > ul > li > a {
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 10pt;
    text-align: center;
    list-style: none;
}
    
.figure  {
    position: absolute;
    width: 1920px;
    height: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    }

.container {
    background-image: url('img/PHOTO_1.jpg');
    width:1920;
    height:696;
    padding: 300px;
    }
    
h1 > div   {
    margin: auto;
    padding: 0px;
   
    }

section {
    grid-auto-flow: row;
    grid-auto-flow: column;
    display: screen;
    }
    
div style {
    flex-direction: flex row
    }




    
ul   {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;    font-family: 'Roboto', sans-serif;
    font-weight: regular 900;
    }
        
footer     {
    position: relative;
    left: 0;
    bottom: 0;    font-family: 'Roboto', sans-serif;
    font-weight: regular 900;
    width: 1920px;
    height: 500px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30pt;
    }

 body   { 
    display: screen;
    font-family: 'Roboto', sans-serif;
    }

a:visited   { 
    color: red;
    text-decoration-color: white;
    }

a:hover {
    background-color: black;
    }

.drilldown-close {
    color: black;
}

a:link{
    color: black;
    }
.text{
    text-align: left
}




   